div.questiongroup {
	text-align:center;
}

div.questiongroup p {
	padding-bottom:0px !important;
}

ul {
	text-align:center;
    list-style-type: none;
    margin: 0;
	margin-left: 0px !important;
    padding: 0;
    overflow: hidden;
}

li {
	display: inline-block;
	list-style: none !important;
	padding-right: 15px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}



span.discGroup {
    margin-right: 20px;
}